@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
  background-color: hsl(30, 20%, 90%);
  position: relative;
  margin: 0;
  padding: 0;
}

.upper-decoration {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  margin: 0;
}

#app {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(270, 95%, 15%);
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  font-weight: 700;
  color: hsl(30, 20%, 90%);
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
}

.sign-in-form {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.sign-in-form > fieldset > legend {
  color: hsl(30, 20%, 90%);
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.sign-in-form > p {
  position: absolute;
  top: 3px;
  right: 70px; 
  color: hsl(30, 20%, 100%);
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  font-weight: 600;
}

.sign-in-form > .error {
  color: red;
}

main {
  background-color: hsl(30, 20%, 90%);
  display: flex; 
  flex-wrap: wrap;
  width: inherit;
  height: min-content;
  padding: 1rem;
  box-shadow: 2px 2px 10px -5px hsl(270, 95%, 15%);
  border-radius: 1rem;
}

main > ul {
  width: 52%;
}

.add-timers {
  margin-bottom: 10px;
}

input {
  border: none;
  font-size: 1.25rem;
  color: hsl(270, 95%, 15%);
  background-color: hsl(30, 20%, 100%);
  width: 200px;
  padding: .25rem;
  margin-right: .5rem;
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px -5px hsl(270, 95%, 15%);
  border-radius: 6px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsl(270, 95%, 15%);
  opacity: 75%;
}
::-moz-placeholder { /* Firefox 19+ */
  color: hsl(270, 95%, 15%);
  opacity: 75%;
}
:-ms-input-placeholder { /* IE 10+ */
  color: hsl(270, 95%, 15%);
  opacity: 75%;
}
:-moz-placeholder { /* Firefox 18- */
  color: hsl(270, 95%, 15%);
  opacity: 75%;
}

button {
  color: hsl(30, 20%, 90%);
  background-color: hsl(270, 95%, 15%);
  padding: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px -2px hsl(270, 95%, 15%);
  margin-right: 5px;
}

button:active {
  box-shadow: 2px 2px 5px -2px hsl(270, 95%, 15%);
}

main > ul > form > button {
  margin-right: 15px;
}

.timer-value {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  color: hsl(270, 95%, 15%);
  background-color: hsl(30, 20%, 100%);
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem; 
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px -5px hsl(270, 95%, 15%);
  border-radius: 6px;
}

.completed-timer-value {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  color: hsla(270, 95%, 15%, 75%);
  background-color: hsl(30, 20%, 90%);
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px -5px hsl(270, 95%, 15%);
  border-radius: 6px;
}

.schedules-container {
  box-shadow: -2px 0px 5px -5px hsl(270, 95%, 15%);
  padding: .5rem; 
  padding-top: 0;
  width: 46%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(30, 20%, 90%);
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  background-image: linear-gradient(to top, hsl(270, 95%, 15%), hsla(270, 95%, 15%, .1));
  border-radius: 6px;
  width: 100%;
  padding: 4px;
  margin-bottom: 5px;
}

.schedule {
  margin-bottom: 8px;
}

.schedule > p {
  background-color: hsl(30, 20%, 100%);
  font-size: 1.25rem;
  padding: .5rem;
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px -5px hsl(270, 95%, 15%);
  border-radius: 6px;
}

.schedule > button {
  margin-left: 15px;
  margin-right: 0;
}

.schedule > ul {
  width: 352px;
  margin-top: 5px;
  padding: 5px; 
  box-shadow: 0 0 5px -3px hsl(270, 95%, 15%);
}

.visual-timer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: hsla(270, 95%, 15%, 20%);
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.visual-timer > .chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visual-timer > .chart-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: hsl(270, 95%, 15%);
  stroke: hsl(30, 20%, 90%);
  stroke-width: 3px;
}

.visual-timer > .time {
  position: absolute;
  width: auto;
  background-image: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(30, 20%, 90%);
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  z-index: 2;
}

.swal-overlay {
  background-color: hsla(270, 95%, 15%, 20%);
}

.swal-modal {
  background-color: hsl(30, 20%, 90%);
  box-shadow: 2px 2px 5px -3px hsl(270, 95%, 15%);
  border-radius: 6px;
}

.swal-button--confirm {
  width: fit-content;
  padding: 7px 15px;
  border-radius: 6px;
  font-size: 12px;
  border: 1px solid hsl(30, 20%, 100%);
  background-color: hsl(270, 95%, 15%);
  color: hsl(30, 20%, 100%);
  font-size: 16px;
  font-weight: 700;
}

.swal-button--confirm:hover {
  background-color: hsl(270, 95%, 50%);
}

.swal-button--cancel {
  width: fit-content;
  padding: 7px 15px;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  background-color: hsl(30, 20%, 100%);
  color: hsla(270, 95%, 15%, 75%);
  font-size: 16px;
  font-weight: 700;
}

.hidden {
  display: none;
}

